body {
  padding: 0;
  margin: 0;
  background-color: rgb(242, 243, 245);
  padding-bottom: 7rem;
}

.App {
  text-align: left;
}

/* TABLE */
table {
  background-color: rgb(251, 253, 255);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 3px;
}

tr {
  margin: 0;
}

th,
td {
  width: 10rem;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.2rem;
}

td, th {
  border: none;
  border-bottom: 1px solid rgb(201, 201, 201);
}

table {
  width: 99%;
  border-style: hidden;
  box-shadow: 0 0 0 1px #666;
  margin-top: 1.5rem;
}

/* LINKS */
a, .navLink {
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

a {
  color: rgb(19, 154, 19);
}

.navLink, .navLink:hover, .navLink:active {
  color: white;
}

.navLink:hover {
  background-color: rgba(102, 102, 102, 0.299);
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

a:hover {
  color: rgb(26, 176, 26);
}

a:active {
  color: rgb(0, 80, 0);
}

/* STEPS */
.steps {
  margin: 20px;
  width: 30%;
}
.step {
  background-color: rgb(22, 103, 22);
  width: 21px;
  height: 21px;
  border-radius: 50%;
}
.stepJoin {
  background-color: rgb(22, 103, 22);
  width: 4px;
  height: 50px;
  position: relative;
  left: 9px;
}

/* ALERTS */
.alert {
  position: absolute;
  bottom: 1rem;
  right: 1.2rem;
  width: 12rem;
  border-radius: 3px;
  text-align: center;
  padding: 0.4rem;
  font-size: 0.9rem;
  animation: alertSlideAndFadeIn ease-out 1s forwards;
}

.warninig {
  color: white;
  background-color: rgb(201, 75, 75);
}

.alertSlideAndFadeIn {
  animation: alertSlideAndFadeIn ease-out 1s forwards;
}

.alertSlideAndFadeOut {
  animation: alertSlideAndFadeOut ease-out 1s forwards;
}

/* INPUTS */
select {
  width: 8rem;
}

input, select, textarea {
  background-color: rgb(248, 250, 252);
  padding: 0.3rem;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 3px;
  width: 100%;
}

/* BUTTONS */
button, input[type="button"] {
  background-color: rgb(65, 162, 65);
  color: white;
  font-size: 0.9rem;
  font-weight: bolder;
  padding: 0.5rem 2rem;
  border: none;
  border: 1px solid rgb(46, 117, 46);
  border-radius: 3px;
  margin-top: 1rem;
  transition: 0.2s;
}

button:hover, input[type="button"]:hover { 
  background-color: rgb(75, 180, 75);
  border: 1px solid rgb(87, 142, 87);
  cursor: pointer;
}

button:active, input[type="button"]:active { 
  background-color: rgb(19, 74, 19);
}

button:disabled, input[type="button"]:disabled { 
  background-color: rgb(95, 95, 95);
}

@keyframes alertSlideAndFadeIn {
  from {
    bottom: -10rem;
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes alertSlideAndFadeOut {
  from {
    opacity: 100%;
  }
  to {
    right: -10rem;
    opacity: 0%;
  }
}
