.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

ul>li {
  display: inline-block;
  margin: 0 2rem;
}

.loggerList>li {
  display: block;
}

tr {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  width: 10rem;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.2rem;
}

table {
  width: 80%;
  border-style: hidden;
  box-shadow: 0 0 0 1px #666;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(22, 103, 22);
  transition: 0.4s;
}

a:hover {
  color: rgb(26, 176, 26);
}

a:active {
  color: rgb(0, 80, 0);
}
